includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes
        # テストまでチェックしたい場合は、以下のコメントアウトを外す
        # - tests

    # Level 9 が最も厳しい
    level: 5

    # phpstan実行時に落ちた場合シングルプロセス実行とする設定値
    # 必要になったらコメントアウトを外す
    # parallel:
    #     maximumNumberOfProcesses: 1

    # ignoreErrors は実際にエラーが出てから追加する
    # （ヒットしないパターンを書くと phpstan がエラーにするため）
    # ignoreErrors:
    #     - '#Call to an undefined method Illuminate\\Support\\Collection#'
